.servicees-section{
  padding:270px 20px 50px ;
  background:#f1f0f0;
  text-align:center;
  
}



.servicees-subtitle{
  font-size:30px;
  font-family: Inter;
  color: #0E151D;
font-weight: 500;
  
  line-height: 40px;
}

.servicees-title{
  font-size:30px;
  font-weight:900;
  margin-bottom:40px;
 font-family: Inter; 
}

.servicees-grid{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.servicee-card{
  width:195px;
  gap:30px;
  background:#fff;
  border-radius:16px;
  border:1px solid #eee;
  transition:0.3s;
  cursor:pointer;
  height:195px;
}

.servicee-card img{
  width:fit-content;
  
}



.servicee-card:hover{
  transform:translateY(-6px);
  box-shadow:0 8px 20px rgba(0,0,0,0.1);
}

@media screen and (max-width:900px){
  .servicees-section{
    padding:20px 20px 50px;}
    
    
  }
