.portfolio-wrapper{
  width:100%;
  overflow:hidden;
}



.portfolio-title{
  padding-top:70px;
  padding-bottom:30px;
  text-align:center;
  font-family:Inter;
  font-size:20px;
  background:white;
  letter-spacing:1px;
  font-weight: 100;
  font-style: light;

}



.portfolio-block{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:60px;
  padding:80px 8%;
}



.dark{
  background:#24204E;
}

.purple{
  background:linear-gradient(90deg,#562176,#8942C6);
}



.portfolio-text{
  color:rgba(255,255,255,0.85);
  max-width:500px;
}

.portfolio-text h3{
  font-family:Inter;
  font-size:44px;
  margin-bottom:25px;
  color:white;
}

.portfolio-text p{
  font-family:Inter;
  line-height:1.5;
  margin-top:20px;
  font-weight:300;
  font-style: light;
}

.portfolio-text span{
  display:inline-block;
  margin-top:35px;
  cursor:pointer;
}



.portfolio-image{
  position:relative;
  width:100%;
  max-width:320px;
  display:flex;
  justify-content:center;
}



.circle{
  position:absolute;
  width:115%;
  height:115%;
  background:rgba(255,255,255,0.08);
  border-radius:50%;

  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:1;
}



.portfolio-image img{
  width:100%;
  max-width:280px;
  height:auto;
  object-fit:contain;
  position:relative;
  z-index:2;
}
.portfolioo-image img{
  width:100%;
object-fit: contain;
  height:auto;
  
  z-index:2;}


.award-section{
  background:#18225A;
  color:white;
  text-align:center;
  padding:80px 8%;
  font-family:Inter;
}
.award-section h2{
  font-size:28px;
  margin-bottom:30px;

}
.award-section p{
  color:rgba(255,255,255,0.8);
  font-size:22px;
  margin-bottom:40px;
}

.award-cards{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:40px;
  flex-wrap:wrap;
}

.award-card{
  color:black;
  border-radius:10px;
  width:240px;
  text-align:left;
}

.brand{
  font-weight:600;
  margin:8px 0;
}



.cta-section{
  background:black;
  color:white;
  text-align:center;
  padding:60px 20px;
  font-family:Inter;
}

.cta-section button{
  margin-top:20px;
  padding:18px 40px;
  border:none;
  border-radius:30px;
  background:#4e6cf7;
  color:white;
  cursor:pointer;
  font-size:15px;
}

.cta-section h3{
  font-size:22px;
  margin-bottom:20px;
  font-weight:100;
}


@media(max-width:900px){

  .portfolio-block{
    flex-direction:column;
    text-align:center;
    padding:60px 20px;
  }

  .reverse{
    flex-direction:row;
  }

  .portfolio-text{
    max-width:600px;
  }

  .portfolio-image{
    max-width:260px;
  }
  .portfolioo-image{
    max-width:260px;
  }

  .award-cards{
    flex-direction:column;
    align-items:center;
  }
  .award-section h2{
    font-size:22px;
  }
  .award-section p{
    font-size:18px;
  }
  .cta-section h3{
    font-size:18px;
  }

}


@media(max-width:600px){

  .portfolio-text h3{
    font-size:26px;
    padding: 0 20px;
  }
  .portfolio-title{
    font-size:18px;
  
  }
  .portfolio-block{
    padding:20px 10px;
  }

  .portfolio-image{
    max-width:220px;
  }
  .portfolioo-image{
    max-width:220px;

  }

  .circle{
    width:125%;
    height:125%;
  }
}



@media(max-width:400px){

  .portfolio-image{
    max-width:200px;
  }

  .circle{
    width:135%;
    height:135%;
  }
  .portfolioo-image{
    max-width:200px;



  }

}